# Ignore Byebug command history file.
.byebug_history

/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
!/log/.keep
!/tmp/.keep

# Extra files to ignore
doc/
*.swp
*~
.DS_Store
